.height-custom{
    min-height: 60vh;
}

body {
    color: #212529;          
   
    
}


.font{
    font-family: "Tiny5", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.position{
    margin-top: 20vh;
}