.height-custom{
    min-height: 60vh;
}

body {
    color: #212529;    
    height: 100vh;      
   
    
}

.img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/imageBG2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;                
    
}


.font{
    font-family: "Tiny5", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.position{
    margin-top: 20vh;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}